/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #944cd8;
  --ifm-color-primary-dark: #8634d3;
  --ifm-color-primary-darker: #7e2ccc;
  --ifm-color-primary-darkest: #6825a8;
  --ifm-color-primary-light: #a264dd;
  --ifm-color-primary-lighter: #a970e0;
  --ifm-color-primary-lightest: #bf94e8;
  --ifm-code-font-size: 95%;
}

/* Works well with the `prism-react-renderer/themes/github` dark theme */
.docusaurus-highlight-code-line {
  background-color: rgb(206, 209, 212);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Works well with the `prism-react-renderer/themes/vsDark` dark theme */
html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
}

.markdown img {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
}
